@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


:root {
    --color-one: #000;
    --color-two: #777777;
    --color-three: #F7D9C4;
    --color-four: #EFEFEF;


    --font: 'DM Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    background: #EFEFEF;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

/* button */
.button {
    background: var(--color-three);
    color: var(--color-one);
    padding: 20px 50px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    /* border: 1px solid var(--color-text-two); */
    display: inline-block;
    margin-right: 25px;
}

.button:hover {
    background: white;
}

.button-1 {
    background: transparent;
    border: 2px solid var(--color-two);
    padding: 18px 48px;
    color: white;
}

.button-1:hover {
    background: var(--color-three);
    border: 2px solid var(--color-three);
    color: black;
}

.button-2 {
    background: #454545;
    color: var(--color-four);
}

.button-2:hover {
    background: black;
    color: white;
}

.button-3 {
    background: #454545;
    color: var(--color-four);
}

.button-3:hover {
    background: var(--color-three);
    border: 2px solid var(--color-three);
    color: black;
}

/* end button */